.DS_Store
**/node_modules
**/npm-debug.log
extensions/chrome/build/*.crx
extensions/chrome/build/unpacked-dev
extensions/chrome/build/unpacked-prod
extensions/chrome/*.swp
extensions/chrome/mykey.pem
server/log
