body {
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  background-color: #eee;
  width: 330px;
}

.options-link {
  padding-bottom: .9375rem;
}

.form-signin {
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  padding-bottom: .9375rem;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: .625rem;
  font-size: 1rem;
}
.form-signin input[type="password"] {
  margin-bottom: .625rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#list .list-group-item-heading,
#list .list-group-item-text {
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list .list-group-item-text input {
  border: 0;
  padding: 0;
  margin: 0;
}

#list .list-group-item-text input.username {
  width: 200px;
}

#list .list-group-item-text input.password {
  width: 160px;
}

.username-copy,
.password-show,
.password-copy {
  cursor: pointer;
  user-select: none;
}
